# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Python cache
__pycache__
*.pyc

# Data files - تم تعديلها لتسمح بملفات الـ package
backend/data.json
# احذف السطر backend/*.json القديم

# Logs
*.log

# Worker (بما أنك تجاهلته هنا، تأكد أنك لا تحتاجه في السيرفر)
worker/
